safety-slider-window {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.safety-slider-slides {
  height: 100%;
  position: relative;
  z-index: 0;
  display: flex;
  box-sizing: border-box;
  transition: transform .25s ease;
  transform: translateX(var(--safety-slider-view-offset));
}

.safety-slider__slide {
  min-width: var(--safety-slider-view-width);
}
