safety-slider-arrows {
  --safety-slider-arrow-border-width: 1px;
  --safety-slider-arrow-border-color: var(--safety-slider-btn-color);
  --safety-slider-arrow-background-color: white;
  --safety-slider-arrow-padding: 0;
  --safety-slider-arrow-color: var(--safety-slider-btn-color);
  --safety-slider-arrow-width: 2rem;
  --safety-slider-arrow-height: var(--safety-slider-arrow-width);
  --safety-slider-arrow-disabled-background-color: var(--safety-slider-btn-disabled-color);

  width: 100%;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}

button.safety-slider-arrow {
  appearance: none;
  border: var(--safety-slider-arrow-border-width) solid var(--safety-slider-arrow-border-color);
  background-color: var(--safety-slider-arrow-background-color);
  padding: var(--safety-slider-arrow-padding);
  color: var(--safety-slider-arrow-color);
  width: var(--safety-slider-arrow-width);
  height: var(--safety-slider-arrow-height);
  text-align: center;
  cursor: pointer;
}

button.safety-slider-arrow[disabled] {
  background-color: var(--safety-slider-arrow-disabled-background-color);
  cursor: not-allowed;
}
