safety-slider-dots {
  --safety-slider-dots-container-height: calc(var(--safety-slider-bottom-padding) / 2);
  --safety-slider-dots-container-position-bottom: calc(var(--safety-slider-bottom-padding) / 8);
  --safety-slider-dot-background-color: var(--safety-slider-btn-color);
  --safety-slider-dot-width: 0.75rem;
  --safety-slider-dot-height: var(--safety-slider-dot-width);
  --safety-slider-dot-x-margin: calc(var(--safety-slider-dot-width) / 2);
  --safety-slider-dot-disabled-background-color: var(--safety-slider-btn-disabled-color);

  display: block;
  width: 100%;
  height: var(--safety-slider-dots-container-height);
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: var(--safety-slider-dots-container-position-bottom);
  text-align: center;
}

button.safety-slider-dot {
  appearance: none;
  border: none;
  background-color: var(--safety-slider-dot-background-color);
  padding: 0;
  border-radius: 50%;
  width: var(--safety-slider-dot-width);
  height: var(--safety-slider-dot-height);
  margin: auto var(--safety-slider-dot-x-margin) 0;
  cursor: pointer;
}

button.safety-slider-dot[disabled] {
  background-color: var(--safety-slider-dot-disabled-background-color);
  cursor: not-allowed;
}
